.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-button {
  background-image: url(../images/Like\ Icon.png);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  opacity: 1;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 235px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
  }
}
